ul {
	display:inline;
	list-style-type:none;
}

a {
	text-decoration:none;
}

a:link {
	color:#F5F5F5;
}

a:visited {
	color:#F5F5F5;
}

a:hover {
	color:#DCDCDC;
}


.inhalt a:link {
	color:#800000
}

.inhalt a:visited {
	color:#800000;
}

.inhalt a:hover {
	color:#BA8362;
}


.textinhalt a:link {
	color:#4D8019
}

.textinhalt a:visited {
	color:#800000;
}

.textinhalt a:hover {
	color:#BA8362;
}


.foot a:link {
	color:#800000;
}

.foot a:visited {
	color:#800000;
}

.foot a:hover {
	color:#BA8362;
}


h4 {
	text-align:right;
	margin:-30px 20px 0px 0px;
}

thead {
	font-size:120%;
}

td {
	text-align:left;
	text-decoration:inherit;
}

span {
	text-decoration:underline;
}

.textinhalt li {
	padding-left:60px;
}

body {
	
	background-image:url('http://fc09.deviantart.net/fs70/f/2010/153/f/2/grass_by_GodlikeMcx.jpg');
	background-position:center;
	background-repeat:no-repeat;
}

.frameall {
	background-color:#F3F6D5;
	
	height:1000px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:20px;	
	
	border:1px solid #6b8e23;
	border-radius:5px;
}


.head {
	color:#F5F5F5;
	background-color:#5C991F;
	
	font-family:Tunga;
	font-size:150%;
	font-style:italic;
	text-align:center;
	
	border:1px solid #5C991F;
	border-radius:5px;
	-moz-border-radius:5px; /* Old Firefox */
		
	height:200px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding-top:5px;
}


#verhaltenstherapie {
	height:40px;
    width:160px;
    padding:20px 0px 0px 0px;
    margin:-10px 0px 0px 180px;
    position:relative;

    text-align:center;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#5C991F;
    border-radius:5px;
    border:1px solid #F5F5F5;
    box-shadow: 15px 15px 10px #888888;        
    float:left;
}

#kostenerstattung {
	height:40px;
    width:160px;
    padding:20px 0px 0px 0px;
    margin:-10px 0px 0px 20px;
    position:relative;

    text-align:center;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#5C991F;
    border-radius:5px;
    border:1px solid #F5F5F5;
    box-shadow: 15px 15px 10px #888888;
    
    float:left;

}

#praxisundteam {
	height:40px;
    width:160px;
    padding:20px 0px 0px 0px;
    margin:-10px 0px 0px 20px;
    position:relative;

    text-align:center;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#5C991F;
    border-radius:5px;
    border:1px solid #F5F5F5;
    box-shadow: 15px 15px 10px #888888;
    
    float:left;

}

.inhalt {
	height:600px;
    width:800px;
    padding:20px 0px 0px 0px;
    margin:80px 0px 20px 50px;
    position:absolute;

    text-align:center;
    color:#696969;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#FFFFF0;
    border-radius:5px;
    border:0px dotted #696969;
    box-shadow: 10px 10px 5px #888888;
    

}
   
.inhalt table {
	color:#696969;
    font-family:Verdana;
    font-size:14px;
	border:0px dotted #663300;
	margin:auto;
	margin-top:40px;
	padding:20px 20px 20px 20px;
}

.textinhalt {
	height:600px;
    width:800px;
    padding:40px 40px 40px 40px;
    margin:80px 0px 20px 50px;
    position:absolute;

    text-align:left;
    color:#696969;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#FFFFF0;
    border-radius:5px;
    border:0px dotted #696969;
    box-shadow: 10px 10px 5px #888888;
    
    float:center;
}

#quelle {
	font-size:80%;
	color:#696969;
	text-align:right;
	margin:80px 20px 0px 0px;
	padding:20px;
	position:relative;
}


.foot {
	font-size:80%;
	color:#696969;
	text-align:right;
	margin:780px 20px 0px 0px;
	padding:20px;
	position:relative;
}

